.telaInicial {
  position: absolute;
  z-index: 1;
}
.telaInicial h2 {
  font-weight: 400;
}
.telaInicial p {
  width: 70%;
  max-width: 400px;
  font-weight: 300;
  margin: 0 auto;
}
.div_button {
  margin: 30px 0;
}
.div_button button {
  background-color: gold;
  color: black;
  border-radius: 9px;
  height: 30px;
  width: 300px;
  cursor: pointer;
  border-color: gold;
}
@media (min-width: 768px) {
  .div_button {
    margin-top: 30px;
  }
}
