:root {
  --gryffindor: #b51313;
  --hufflepuff: #bda10c;
  --slytherin: #119a11;
  --ravenclaw: #3e3ef6;
}
.personagem_card {
  width: 150px;
  border: 2px solid;
  border-radius: 5px;
  margin: 5px;
}
.personagem_card div {
  width: 90%;
  margin: 0 auto;
}
.personagem_card img {
  width: 100%;
  height: 174px;
}
.personagem_card p {
  font-size: 1rem;
}
.personagem_card p.name {
  font-size: 12px;
}
.card_Gryffindor {
  border-color: var(--gryffindor);
}
.card_Slytherin {
  border-color: var(--slytherin);
}
.card_Hufflepuff {
  border-color: var(--hufflepuff);
}
.card_Ravenclaw {
  border-color: var(--ravenclaw);
}

.card_Gryffindor .Gryffindor {
  color: var(--gryffindor);
}
.card_Slytherin .Slytherin {
  color: var(--slytherin);
}
.card_Hufflepuff .Hufflepuff {
  color: var(--hufflepuff);
}
.card_Ravenclaw .Ravenclaw {
  color: var(--ravenclaw);
}

@media (min-width: 768px) {
  .personagem_card div {
    width: 90%;
    margin: 0 auto;
  }
  .personagem_card img {
    height: 250px;
  }
  .personagem_card p.name {
    font-size: 15px;
  }
  .personagem_card {
    width: 200px;
    margin: 0 15px;
  }
}
