.container_personagens {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
@media (min-width: 768px) {
  .container_personagens {
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;

    animation-name: animation;
    animation-duration: 0.8s;
    animation-timing-function: linear;
  }
  @keyframes animation {
    0% {
      transform: translateX(980px);
    }
    100% {
      transform: translateX(0px);
    }
  }
}
