.App {
  text-align: center;
}

.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.imagem_anim {
  display: none;
}

@media (min-width: 768px) {
  .imagem_anim {
    display: block;
    width: 170px;
    height: 80px;
    transform: translateX(0px);
    position: absolute;
    left: 600px;
    top: 120px;
  }
  .imagem_anim img {
    width: 100%;
    height: 100%;
  }
  .img_animation {
    animation-name: im;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
  }
  @keyframes im {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-850px);
    }
  }
}
